doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='taxt/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(type='text/javascript' src='/javascripts/libs/jquery.js')
    script(type='text/javascript' src='/javascripts/main.js')
  body
    block content